@inherits LayoutComponentBase
@inject ILocalStorageService _localStorage
@inject IJSRuntime JSRuntime
@inject NavigationManager _nav
@inject IUserHttpService _user

<BlazoredToasts ShowProgressBar="true"  />
<UpdateAvailableDetector />





<div class="page">

    <main>
        <CascadingValue Value="this">
            <article class="content">
                <MudRTLProvider RightToLeft="true">

                    <MudThemeProvider Theme="MyCustomTheme" IsDarkMode="_isDarkMode" />
                    <MudDialogProvider />
                    <MudSnackbarProvider />


                    <MudLayout>
                        <MudAppBar Elevation="1">
                            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                            <MudText Typo="Typo.h6" Class="mr-3">@PageName</MudText>
                            <MudSpacer />
                            @if(_nav.Uri != _nav.BaseUri){
                                <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.End" OnClick="@((e) => backPage())" />
                            }
                        </MudAppBar>
                        <MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
                            <MudDrawerHeader>
                                <MudText Typo="Typo.h5" Class="mt-1">آپارتمان ما</MudText>
                            </MudDrawerHeader>
                            <MudNavMenu Style="font-size:17px;">
                                <MudNavLink Href="/" Match="NavLinkMatch.All">صفحه اصلی</MudNavLink>
                                <MudNavLink Href="apartment/new">آپارتمان</MudNavLink>

                                <MudNavLink Href="help">راهنما</MudNavLink>
                                <MudNavGroup Title="تنظیمات" Expanded="true" >
                                    <MudSwitch @bind-Checked="@_isDarkMode" Color="Color.Info" Class="ma-4" T="bool" Label="حالت شب" />
                                </MudNavGroup>
                                <MudNavLink Href="unit">واحد</MudNavLink>
                            </MudNavMenu>


                            <Version />
                        </MudDrawer>
                        <MudMainContent>
                            
                            @Body
                        </MudMainContent>
                    </MudLayout>
                </MudRTLProvider>

            </article>
        </CascadingValue>


    </main>
</div>

@code{

    MudTheme MyCustomTheme = new MudTheme()
        {
            Typography = new Typography()
            {
                Default = new Default()
                {
                    FontFamily = new[] { "IRANSans" }
                }
            }
        };


    bool _drawerOpen = false;
    private bool isdarkMode;
    private bool _isDarkMode
    {
        get { return isdarkMode; }
        set
        {
            isdarkMode = value;
            _localStorage.SetItemAsync<bool>("darkMode", value);

        } }
    private string PageName = string.Empty;
    public string Title
    {
        get => PageName;
        set
        {
            PageName = value;
            InvokeAsync(() => StateHasChanged());
        }
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    protected override async Task OnInitializedAsync()
    {
        _isDarkMode = await _localStorage.GetItemAsync<bool>("darkMode");

        await _user.CheckUserIs();

    }

    private async void backPage(){
        await JSRuntime.InvokeVoidAsync("history.back");
    }




}
